body {
    font-family: "Open Sans", serif;
    text-align: center;
    color: white;
}

.maps {
    width: 15px;
    height: 15px;
    margin: 1px 1px 1px 1px;
    background-color: #5d5d59;
    float: left;
}

.snake {
    background-color: black;
}

.apple {
    background-color: red;
}